{% extends "layout.html" %}

{% block title %}
    Add Cash
{% endblock %}

{% block main %}
    <p>
        Check out the demo of my project below!
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/G6vUK7GqUWQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>
        Feel free to reach out with any questions or suggestions: lok026@g.harvard.edu
    </p>
{% endblock %}
