{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <p>
        The correct answer was "Limit the actions possible from each state, keep a small action space, and use a discrete action space." and you answered: {{ answer }}
    </p>
    <p>
       <b>{{ message }}</b>
    </p>
    <script>
        $(document).ready(function() {
            $('#sheet').DataTable();
        });
    </script>
{% endblock %}