{% extends "layout.html" %}

{% block title %}
    Add Cash
{% endblock %}

{% block main %}
    <p>
        Check out the video below for an advanced application of these topics. Sorry in advance for the spelling mistakes.
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/qf2orMWcB_s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>
        Wonderful. That video should serve as a good segue for you into more advanced topics. Now for the quiz:
    </p>
    <p>
        What can we do to keep the complexity of a MDP/RL problem low?
    </p>
    <form action="/AdvancedApp" method="post">
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" name="Answer" type="radio" value="Limit the actions possible from each state, keep a small action space, and use a discrete action space." required>
                    Limit the actions possible from each state, keep a small action space, and use a discrete action space.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input"  name="Answer" type="radio" value="The complexity grows linearly with the difficulty of the problem that you are trying to solve." required>
                    The complexity grows linearly with the difficulty of the problem that you are trying to solve.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input"  name="Answer" type="radio" value="Use a stochastic action space, incorporate uncertainty, and make it partially observable." required>
                    Use a stochastic action space, incorporate uncertainty, and make it partially observable.
            </label>
        </div>

        <!-- http://getbootstrap.com/docs/4.1/components/buttons/ -->
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}
