{% extends "layout.html" %}

{% block title %}
    Add Cash
{% endblock %}

{% block main %}
    <p>Sample Program to highlight logic: </p>

    <pre>
    <code>
# Welcome to the basic application of RL and MDP's.

stateHolder1 = [0.1, 0.2, 0.3, 0.4, 0.5] # each of these are lists of length 5
stateHolder2 = [0.2, 0.3, 0.4, 0.5, 0.6]
stateHolder3 = [0.6, 0.7, 0.1, 0.2, 0.3]
stateHolder4 = [0.7, 0.8, 0.9, 0.1, 0.1]
stateHolder5 = [0.3, 0.2, 0.8, 0.1, 0.7] #Numerical values represent the reward value at each location.

stateHolder = [stateHolder1, stateHolder2, stateHolder3, stateHolder4, stateHolder5]
#This lets us create a list of lists with the structure as shown above.

endFlag = False     #terminal flag to break out of the loop logic
x = 0               #x location
y = 0               #y location
i = 0               #counter
reward = 0.0        #total reward

#In this exmaple, the action space(set of all possible actions) only has 3 possible actions: move right, move down, or diagonal.
#As the action space grows, so does the run time and the computational intensity.

#Search function which takes in the current x and y location, and gives back which of the 3 possible points to go to.
#The search function is simulation the enviorment and passng back the best action to take.
def search(x, y, stateHolder):
    if x+1 < len(stateHolder) and y < len(stateHolder[0]):
        r1 = stateHolder[x+1][y]
    else:
        r1 = 0.0

    if x+1 < len(stateHolder) and y+1 < len(stateHolder[0]):
        r2 = stateHolder[x+1][y+1]
    else:
        r2 = 0.0

    if x < len(stateHolder) and y+1 < len(stateHolder[0]):
        r3 = stateHolder[x][y+1]
    else:
        r3 = 0.0

    if r1 == 0.0 and r2 == 0.0 and r3 == 0.0: #terminal case
        return (-1,-1)

    maxReward = max(r1, r2, r3)
    if r1 == maxReward:
        next_location = (x+1, y)
    elif r2 == maxReward:
        next_location = (x+1, y+1)
    else:
        next_location = (x, y+1)
    return next_location





while endFlag != True: #main logic loop!
    if i == 0:
        reward += stateHolder[x][y] #[row, column]
        i += 1
    else:
        new_x, new_y = search(x, y, stateHolder)
        if new_x == -1 and new_y == -1:
            endFlag = True
            i += 1
            print("Terminal condition reached.")
        else:
            reward += stateHolder[new_x][new_y]
            x = new_x
            y = new_y
            i += 1
    print("Total Reward: ", reward, " as of step: ", i)
    print(x, ", ", y)
    print(stateHolder[x][y])


Output:
Total Reward:  0.1  as of step:  1
0 ,  0
0.1
Total Reward:  0.4  as of step:  2
1 ,  1
0.3
Total Reward:  1.1  as of step:  3
2 ,  1
0.7
Total Reward:  2.0  as of step:  4
3 ,  2
0.9
Total Reward:  2.8  as of step:  5
4 ,  2
0.8
Total Reward:  2.9  as of step:  6
4 ,  3
0.1
Total Reward:  3.5999999999999996  as of step:  7
4 ,  4
0.7
Terminal condition reached.
Total Reward:  3.5999999999999996  as of step:  8
4 ,  4
0.7

    </code>
    </pre>

    <p>
        <img src="static/history.png">

    </p>
    <p>
        Check out a deeper explination of the code below:
    </p>
    <audio controls>
        <source src="static/App.mp3" type="audio/mp3">
    Your browser does not support the audio element.
    </audio>
    <p>
            Quiz time: What are the different actions we can take at any given state/point?
    </p>
    <form action="/App" method="post">
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" name="Answer" type="radio" value="All actions are possible in this simulation.  There are no contraints." required>
                    All actions are possible in this simulation.  There are no contraints.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input"  name="Answer" type="radio" value="We can move to (x+1,y) || (x+1,y+1) || (x,y+1).  The actions space is limited to make the problem simple." required>
                    We can move to (x+1,y) || (x+1,y+1) || (x,y+1).  The actions space is limited to make the problem simple.
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input"  name="Answer" type="radio" value="We can move to any pixel as long as it touches the current pixel." required>
                    We can move to any pixel as long as it touches the current pixel.
            </label>
        </div>

        <!-- http://getbootstrap.com/docs/4.1/components/buttons/ -->
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

{% endblock %}
