{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <p>
        The correct answer was "We can move to (x+1,y) || (x+1,y+1) || (x,y+1).  The actions space is limited to make the problem simple." and you answered: {{ answer }}
    </p>
    <p>
       <b>{{ message }}</b>
    </p>
    <script>
        $(document).ready(function() {
            $('#sheet').DataTable();
        });
    </script>
{% endblock %}