{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <p>
        The correct answer was "Agent, Reward, Action, Enviroment, Observation, Policy" and you answered: {{ answer }}
    </p>
    <p>
        {{ message }}
    </p>
    <script>
        $(document).ready(function() {
            $('#sheet').DataTable();
        });
    </script>
{% endblock %}