{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <p>
        Welcome to my course on Reinforcement Learning(RL).  Many of the topics we will cover will have cross functionality with a number of different Machine Learning(ML) topics.
    </p>
    <p>
        We can start out with what we want as our basic definition of Intelligence which for this class we will say is the ability of an person(or more generally an agent) to complete goals they or an outside agent set, in a set of uncertain scenarios.
    </p>
    <p>
        Why use RL in a computer science setting: RL is used to automate redundant computations such that as more simulations are run, the system you are simulation is bael to learn over time.  The key component is that the trials between each run require little to no human input.
    </p>
    <p>
        How does “Learning” occur in a RL environment: In RL, the agent makes an observation of the environment, chooses an action to perform, does the action, and then repeats that process until it reaches a terminal state.
    </p>
    <p>
        *A terminal state is one in which the agent is no longer taking actions.  This could be because the agent is not longer able to due to lack of battery life or it being stuck.  It could also be that the agent has reached its mission goals so it can now stop moving around.*

    </p>
    <p>
        Environment: Everything outside of the agent.
        Agent: Observes the environment.
        The environment will most likely change after a given action since the agent will be in a different state.

    </p>
    <p>
        Click on the image below to see a sample of the way a decision is made in RL.
    </p>
    <p>
        <a href='https://postimg.cc/rKQCKnrP' target='_blank'><img src='https://i.postimg.cc/rKQCKnrP/Logic-Loop.jpg' border='0' alt='Logic-Loop'/></a>

    </p>
    <p>
        Now that you now a little about RL, what are the key componets required for RL to work the way it does?
    </p>

    <p>

    A logical question you might be having is how does the agent know what the best action is to take.  The way this idea is formalized is through a reward function.  The reward function is used to put a value on the action the agent plant to take.  For example if there is a set of actions: [A1, A2, A3] with reward values as follows: 100, 200, and 300 respectively,  the agent would choose action A3 such that it maximizes the reward. This example obviously becomes more complicated if the agent is able to hypothesis the stats that follow after a given action.

    </p>
    <p>
        Ok so now we know how much of the logic works.  Are we missing anything else? Yes! In a formal definition, there is also a policy involved.  A policy explicitly maps the current state to an action.  This policy is the main logic needed for this system to work.

    </p>
    <p>
        Time for a quiz.  What are the main components of RL we have talked about so far? When you think you have the right answer press submit.
    </p>
    <form action="/Home" method="post">
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" name="Answer" type="radio" value="Magic..." required>
                    Magic...
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input"  name="Answer" type="radio" value="Agent, Reward, Enviroment, Observation" required>
                    Agent, Reward, Enviroment, Observation
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input"  name="Answer" type="radio" value="Agent, Reward, Action, Enviroment, Observation, Policy" required>
                    Agent, Reward, Action, Enviroment, Observation, Policy
            </label>
        </div>

        <!-- http://getbootstrap.com/docs/4.1/components/buttons/ -->
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

    <p>
        ------------------------------------------------------------------------------------
    </p>
    <p>
        Check out the video below for reference and a deeper explaination of these concepts.
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ISk80iLhdfU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}