{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table id='sheet' class='display' style='width:100%'>
        <thead>
            <tr>
                <th>Company</th>
                <th>Value</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for item in user_stock %}
                <tr>
                    <td>{{item.Symbol}}</td>
                    <td>{{item.Value}}</td>
                    <td>{{item.Quantity}}</td>
                </tr>
            {% endfor %}
            <td>Cash: {{ user_data[0]["cash"]}}</td>
            <td>Assets: {{hold}}</td>
        </tbody>
    </table>

{% endblock %}