{% extends "layout.html" %}

{% block title %}
    Add Cash
{% endblock %}

{% block main %}
    <title>Markov Decision Processes: </title>
    <p>MARKOV DECISION PROCESSES: </p>
    <p>
        Congratulations on learning about the basics of RL which included the following components: States, Actions, Environment, Observations, Agent, and a Policy.  Feel free to head back to the previous page to review any of those ideas.

    </p>
    <p>
        A Markov Decision Process(MDP) resembles RL in many ways.  The core concepts will stay the same.  I will explain the difference below:

        Why use a pure MDP vs an MDP with RL?  There is a distinction to be drawn between the ideas of Learning and just simply Planning.  In a Planning example: our environment model is given and we essentially just do a huge tree search to find what the best action to take is. There is no actual learning going on.  This is a much simpler technique to solve the problem despite the fact that in many cases the tree and the search can be massive. In the case of using an MDP with learning, we actually do sampling.  The agent has to trade off between short and long term goals. The environment in a learning case is also initially unknown and the agent interacts with that environment.
    </p>
    <p>
        Ok, so what do you mean by “The agent has to trade off between short and long term goals”?  There is a trade off in RL commonly referred to as exploration versus exploitation.  In an exploitation example, the agent takes the necessary steps to maximize the reward value right now and essentially sticks to what it knows it can get rewarded for.  In exploration, the agent goes and explores place it hasn't been to, so it can make observations about an unknown environment.  That is simple enough right?

    </p>
    <p>
        A very good real world example of exploration versus exploitation:
        Exploration: try a new restaurant you think may look good.
        Exploitation: eat at your favorite restaurant
    </p>
    <p>
        Why is there a trade off? The real issue is that in an exploration setting, the future is unknown.  There could be a massive reward sitting right outside of the observable space, or there could be nothing there at all.  There needs to be a healthy balance between these two aspects in order for a system to work well.

    </p>
    <p>
        With all this uncertainty and complexity, should we make the values of future actions worth less because it is more like a guess the father we reason from our current state? The common answer is yes! This is what a discount factor is in an MDP.  As we build our belief tree, we actually make future rewards valued less as we progress down the tree. This is because, per the above statement, as we reason farther into the future, our estimations get less precise so we reflect that we a discount factor for the reward.

    </p>
    <p>
        That was a lot, please summarize what was just explained:
        In RL, the agent learns by trial and error. The agent needs a policy to take actions so it computs it policy(tells us given a state, which action to do).  It is important to note that as we said before, the agent needs to take actions that may not be optimal in order to learn. This is the essential problem of RL.  If you can find a good trade off between exploration and exploitation, you win!

    </p>
    <p>
         Check out the video below.  It shows some really cool applications of Reinforcement Learning!
    </p>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ISk80iLhdfU?start=5941" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>
        I hope that you got as much of a laugh out of that as I did. Lets move on to the quiz!
    </p>
    <p>
        In a well designed RL system, what is hard to do but very important for learning?
    </p>
    <form action="/MDP" method="post">
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" name="Answer" type="radio" value="More Magic..." required>
                    More Magic...
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input"  name="Answer" type="radio" value="Trade off between Exploration and Exploitation" required>
                    Trade off between Exploration and Exploitation
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input"  name="Answer" type="radio" value="Planning VS Learning tradeoff" required>
                    Planning VS Learning tradeoff
            </label>
        </div>

        <!-- http://getbootstrap.com/docs/4.1/components/buttons/ -->
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}
